* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=.format&fit=crop&w=1472&q=80') no-repeat;
    color: green;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header,
.form {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form input,
.form button {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background: white;
}

.form button {
    color: #d88771;
    background: white;
    cursor: pointer;
}

.form button:hover {
    background: #d88771;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todo-input {
    border-radius: 8px;
}

.input {
    background: white;
}

.todo {
    margin: 0.5rem;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    flex: 0.5;
}

.delete-btn,
.edit-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.edit-btn:hover,
.delete-btn:hover {
    opacity: 0.8;
}

.text {
    border: none;
    outline: none;
}

.edit-btn {
    background: grey;
}

.delete-btn {
    background: orange;
}

input[type=checkbox]:checked+input[type=text] {
    color: red;
    text-decoration: line-through;
}

.input-field {
    padding: 12px 20px;
    color: black;
    border-radius: 4px;
    font-size: 1.5rem;
    border: none;
}